$body-bg: #001b33;
$bg-sec: #013666;
$main-color: #663366;
$sec-color: #990000;
$txt-color: #fff;

$box-sh: 5px 5px 40px #013666;
$border-ra: 30px;
$mobile-W: 600px;
$tablet-W: 1060px;
$font-family: 'Montserrat', sans-serif;